# OpenShift install artifacts (contain secrets)
**/auth/
**/*.ign
**/agent.x86_64.iso
**/openshift-install
**/.openshift_install_state.json

# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.backup
**/.terraform.lock.hcl
**/terraform.tfvars

# Secrets — fichiers contenant de vraies valeurs sensibles
**/*.pem
**/*.key
**/*.crt
**/*-secret-values.yaml
**/*.secret.yaml
**/*.password.yaml
**/*.token.yaml

# Variables d'environnement
.env
.env.*

# oc-mirror workspace
**/oc-mirror-workspace/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
